<div style="background-color: rgb(243, 243, 243);" class="py-5 min-h-[45rem]" >
    <h1 class="text-center" *ngIf="nombreProducto !== ''"> Busqueda de: {{ nombreProducto }} </h1>
    <div class="flex flex-row justify-center pt-[3rem] pb-[3rem] gap-5 w-full md:flex-row">
        <div class="mr-3">
            <div class="categoria-container flex flex-col justify-center items-center w-[20rem]">
				<div class="categorias shadow-xl ">
					<h2>Categorías</h2>
					<div *ngFor="let category of categories" class="categorias-container" >
                        <a (click)="selectCategory(category)" class="category-link">{{ category.name }}</a>
					</div>
				</div>
			</div>
        </div>
        <div class="flex flex-col justify-center items-center w-[45rem] ">
            <h-card *ngFor="let product of products | paginate:  { itemsPerPage: 3, currentPage: page }" [product]="product" class="mb-6"></h-card>
        </div>
    </div>
    <pagination-controls class="text-center" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>
