<div class="px-[15rem] py-5 min-h-[45rem]" style="background-color: rgb(243, 243, 243);">
  <div class="grid grid-cols-1 md:grid-cols-4 pt-[3rem] pb-[2rem] gap-5">
    <app-card class="flex justify-center items-center content-center"
      *ngFor="let product of products | paginate:  { itemsPerPage: 8, currentPage: page }"
      [product]="product"></app-card>
  </div>
    <pagination-controls class="text-center" (pageChange)="page = $event" previousLabel="Anterior"
    nextLabel="Siguiente"></pagination-controls>
</div>