<div class="wrapper">
    <header class="header js-header">
        <div class="header__logo logo">Juli</div>
        <ul class="header__nav nav">
            <li class="nav__item">
                <a href="#" class="nav__item-link">Security</a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__item-link">Tariffs</a>
            </li>
            <li class="nav__item">
                <a href="tel:#" class="nav__item-link">01 56 71 43 99</a>
            </li>
        </ul>
        <div class="header__button-container">
            <button class="button button--blue button--bottom-left-b">
                <span class="button__text button__text--white">Create Transaction</span>
            </button>
        </div>
    </header>

    <main class="page">
        <div class="hero js-hero">
            <div class="hero__curtain">
                <div class="hero__curtain-1"></div>
                <div class="hero__curtain-2">
                    <div class="hero__diagonal"></div>
                </div>
            </div>

            <section class="hero__content">
                <h1 class="hero__content-title h1">Lorem ipsum dolor sit amet elit.</h1>
                <p class="hero__content-text text text--white text--hero">Suspendisse id mauris auctor, efficitur dui
                    eu, pellentesque magna. Vivamus at aliquam justo.</p>
                <div class="hero__button-container">
                    <button class="button button--hero button--top-left-b">
                        <span class="button__text">Lorem ipsum</span>
                    </button>
                </div>
            </section>
        </div>
    </main>
</div>
<btn></btn>