.item {
    background-color: rgba(0, 0, 0, 0.4);
    line-height: 4;
    padding: 0 2em;
    margin: 1.5em;
    color: #fff;
    position: relative;
    width: 5rem;
    text-align: center;
}
.item:before {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s;
    left: 50%;
}
.item:hover:before {
    width: 100%;
    left: 0;
}

